@page "/Messages"
@using Monocle.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http
@attribute [Authorize]

<h3>Messages</h3>

<table>
    <tr>
        <th>ID</th>
        <th>Message</th>
        <th>Submission Time</th>
    </tr>
    @foreach (var message in ContactMessages)
    {
        <tr>
            <td>@message.Id</td>
            <td>@message.Message</td>
            <td>@message.SubmissionTime</td>
        </tr>    
    }
    
</table>

@code {
    public List<Contact> ContactMessages = new ();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ContactMessages = await Http.GetFromJsonAsync<List<Contact>>("Contact");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        
    }

}